<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Monterey Graphic.heic</string>
	<string>Big Sur.madesktop</string>
	<string>Catalina.madesktop</string>
	<string>Mojave.madesktop</string>
	<string>The Cliffs.madesktop</string>
	<string>The Lake.madesktop</string>
	<string>The Desert.madesktop</string>
	<string>The Beach.madesktop</string>
	<string>Solar Gradients.madesktop</string>
	<string>hello Green.heic</string>
	<string>hello Yellow.heic</string>
	<string>hello Orange.heic</string>
	<string>hello Red.heic</string>
	<string>hello Purple.heic</string>
	<string>hello Blue.heic</string>
	<string>hello Grey.heic</string>
	<string>Big Sur Graphic.heic</string>
	<string>Peak.madesktop</string>
	<string>Tree.madesktop</string>
	<string>Valley.madesktop</string>
	<string>Dome.madesktop</string>
	<string>Chroma Red.heic</string>
	<string>Chroma Blue.heic</string>
	<string>Iridescence.madesktop</string>
	<string>Big Sur Mountains.madesktop</string>
	<string>Big Sur Aerial.madesktop</string>
	<string>Big Sur Horizon.madesktop</string>
	<string>Big Sur Coastline.madesktop</string>
	<string>Big Sur Shore Rocks.madesktop</string>
	<string>Big Sur Waters Edge.madesktop</string>
	<string>Big Sur Road.madesktop</string>
	<string>Big Sur Night Succulents.madesktop</string>
	<string>Big Sur Night Grasses.madesktop</string>
	<string>Catalina Coast.madesktop</string>
	<string>Catalina Evening.madesktop</string>
	<string>Catalina Rock.madesktop</string>
	<string>Catalina Shoreline.madesktop</string>
	<string>Catalina Clouds.madesktop</string>
	<string>Catalina Silhouette.madesktop</string>
	<string>Catalina Sunset.madesktop</string>
	<string>Desert 1.jpg</string>
	<string>Desert 2.jpg</string>
	<string>Desert 3.jpg</string>
	<string>Desert 4.jpg</string>
	<string>Desert 5.jpg</string>
	<string>Desert 6.jpg</string>
	<string>Desert 7.jpg</string>
	<string>High Sierra.jpg</string>
	<string>Sierra.jpg</string>
	<string>Yosemite 3.jpg</string>
	<string>Sierra 2.jpg</string>
	<string>El Capitan.jpg</string>
	<string>El Capitan 2.jpg</string>
	<string>Yosemite.jpg</string>
	<string>Yosemite 2.jpg</string>
	<string>Yosemite 4.jpg</string>
	<string>Yosemite 5.jpg</string>
	<string>Wave.jpg</string>
	<string>Rolling Waves.jpg</string>
	<string>Galaxy.jpg</string>
	<string>Earth and Moon.jpg</string>
	<string>Earth Horizon.jpg</string>
	<string>Milky Way.jpg</string>
	<string>Moon.jpg</string>
	<string>Underwater.jpg</string>
	<string>Bahamas Aerial.jpg</string>
	<string>Beach.jpg</string>
	<string>Rice Paddy.jpg</string>
	<string>Forest in Mist.jpg</string>
	<string>Foggy Forest.jpg</string>
	<string>Mountain Range.jpg</string>
	<string>Sky.jpg</string>
	<string>Floating Ice.jpg</string>
	<string>Snow.jpg</string>
	<string>Blue Pond.jpg</string>
	<string>Death Valley.jpg</string>
	<string>Ducks on a Misty Pond.jpg</string>
	<string>Pink Forest.jpg</string>
	<string>Desert.jpg</string>
	<string>Mt. Fuji.jpg</string>
	<string>Antelope Canyon.jpg</string>
	<string>Lake.jpg</string>
	<string>Isles.jpg</string>
	<string>Eagle &amp; Waterfall.jpg</string>
	<string>Flamingos.jpg</string>
	<string>Elephant.jpg</string>
	<string>Lion.jpg</string>
	<string>Frog.jpg</string>
	<string>Grass Blades.jpg</string>
	<string>Floating Leaves.jpg</string>
	<string>Bristle Grass.jpg</string>
	<string>Zebras.jpg</string>
	<string>Foxtail Barley.jpg</string>
	<string>Red Bells.jpg</string>
	<string>Poppies.jpg</string>
	<string>Pink Lotus Flower.jpg</string>
	<string>Shapes.jpg</string>
	<string>Brushes.jpg</string>
	<string>Abstract.jpg</string>
	<string>Hawaiian Print.jpg</string>
	<string>Circles.jpg</string>
	<string>Architecture.jpg</string>
	<string>Flower 1.jpg</string>
	<string>Flower 2.jpg</string>
	<string>Flower 3.jpg</string>
	<string>Flower 4.jpg</string>
	<string>Flower 5.jpg</string>
	<string>Flower 6.jpg</string>
	<string>Flower 7.jpg</string>
	<string>Flower 8.jpg</string>
	<string>Flower 9.jpg</string>
	<string>Flower 10.jpg</string>
	<string>Reflection 1.jpg</string>
	<string>Reflection 2.jpg</string>
	<string>Reflection 3.jpg</string>
	<string>Reflection 4.jpg</string>
	<string>Abstract 1.jpg</string>
	<string>Abstract 2.jpg</string>
	<string>Abstract 3.jpg</string>
	<string>Abstract 4.jpg</string>
	<string>Ink Cloud.jpg</string>
	<string>Color Burst 3.jpg</string>
	<string>Color Burst 2.jpg</string>
	<string>Color Burst 1.jpg</string>
	<string>Iridescence Day.madesktop</string>
	<string>Iridescence Night.madesktop</string>
	<string>Light Stream Red.madesktop</string>
	<string>Light Stream Blue.madesktop</string>
	<string>Light Stream Pink.madesktop</string>
	<string>Light Stream Green.madesktop</string>
	<string>Chroma 1.jpg</string>
	<string>Chroma 2.jpg</string>
	<string>Abstract Shapes.jpg</string>
	<string>Abstract Shapes 2.jpg</string>
	<string>Turquoise Green.png</string>
	<string>Cyan.png</string>
	<string>Blue Violet.png</string>
	<string>Yellow.png</string>
	<string>Plum.png</string>
	<string>Soft Pink.png</string>
	<string>Red Orange.png</string>
	<string>Ocher.png</string>
	<string>Dusty Rose.png</string>
	<string>Electric Blue.png</string>
	<string>Teal.png</string>
	<string>Stone.png</string>
	<string>Silver.png</string>
	<string>Space Gray.png</string>
	<string>Space Gray Pro.png</string>
	<string>Gold.png</string>
	<string>Gold 2.png</string>
	<string>Rose Gold.png</string>
	<string>Black.png</string>
</array>
</plist>
